body {
  color: black;
  font-size: 14px;
  margin: 0px auto 0px auto;
  width: 516px;
  font-family: 'Roboto Mono', monospace
}

a, a:visited {
  color: #880000;
}

div#content {
  text-align: justify;
  text-justify: inter-word;
}

div#header {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding: 12px 00px 40px 0px
}

div#logo a {
  color: black;
  float: left;
  font-size: 24px;
  text-decoration: none;
  font-family: 'Lora', serif
}

h2 {
  font-size: 16px;
  font-family: 'Lora', serif
}

ul {
  list-style-type: none
}
