:root {
  --main-bg-color: white;
  --header-bg-color: white;
  --border-dark-color: rgb(127,127,110);
  --border-light-color: rgb(255,255,240);
}

body {
  color: black;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Lucida Console', monospace;
  margin: 0px auto 0px auto;
  width: 516px;
  background: var(--main-bg-color);
}

a, a:visited {
  color: var(--border-dark-color);
}

div#content {
  text-align: justify;
  text-justify: inter-word;
}

div#header {
  background-color: var(--header-bg-color);
  border-top: 2px solid var(--border-light-color);
  border-bottom: 2px solid var(--border-dark-color);
  margin-bottom: 20px;
  padding: 0px 0px 20px 0px;
}

div#logo a {
  color: black;
  float: left;
  font-size: 16px;
  font-weight: 200;
  font-family: 'Lucida Console', monospace;
  text-decoration: none;
}

h2 {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Lucida Console', monospace;
  background-color: var(--header-bg-color);
  border-top: 2px solid var(--border-light-color);
  border-bottom: 2px solid var(--border-dark-color);
}

ul {
  list-style-type: none;
}
