body {
  color: black;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0px auto 0px auto;
  width: 516px;
  background-color: rgb(240, 128, 220);
}

a, a:visited {
  color: rgb(64,120,110);
}

div#content {
  text-align: justify;
  text-justify: inter-word;
}

div#header {
  background-color: rgb(128,240,220);
  border-bottom: 2px solid rgb(64,120,110);
  border-right: 2px solid rgb(64,120,110);
  margin-bottom: 20px;
  padding: 12px 00px 40px 0px;
}

div#logo a {
  color: black;
  float: left;
  font-size: 24px;
  font-weight: 200;
  font-family: 'Helvetica Neue', sans-serif;
  text-decoration: none;
}

h2 {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Helvetica-Neue', sans-serif;
  background-color: rgb(128, 240, 220);
  border-bottom: 2px solid rgb(64,120,110);
  border-right: 2px solid rgb(64,120,110);
}

ul {
  list-style-type: none;
}
